log_level = "{{ nomad.log_level }}"
datacenter = "{{ nomad_datacenter }}"
data_dir = "{{ nomad_datadir }}"
bind_addr = "{{ inventory_hostname }}"
name = "{{ inventory_hostname }}"

client {
    enabled = true
{% if consul.encrypt_key != 'none' %}
    consul {
        token = "{{ consul.encrypt_key }}"
    }
{% endif %}
    servers = [{% for host in groups['nomad-servers'] %}"{{ hostvars[host]['inventory_hostname']}}:{{ nomad.server_join_port }}"{% if not loop.last %},{% endif %}{% endfor %}]
}
