log_level = "{{ nomad.log_level }}"
datacenter = "{{ nomad.datacenter }}"
data_dir = "{{ nomad.data_dir }}"
bind_addr = "{{ inventory_hostname }}"
name = "{{ inventory_hostname }}"

client {
    options = {
        "driver.raw_exec.enable" = "1"
    }
    enabled = true
    network_interface = "{{ nomad.iface }}"
{% if consul.encrypt_key != 'none' %}
    consul {
        token = "{{ consul.encrypt_key }}"
    }
{% endif %}
    servers = [{% for host in groups['nomad-servers'] %}"{{ hostvars[host]['inventory_hostname']}}:{{ nomad.server_join_port }}"{% if not loop.last %},{% endif %}{% endfor %}]
}
