log_level = "{{ nomad.log_level }}"
datacenter = "{{ nomad.datacenter }}"
data_dir = "{{ nomad_datadir }}"
bind_addr = "{{ inventory_hostname }}"
name = "{{ inventory_hostname }}"
server {
{% if consul.encrypt_key != 'none' %}
    consul {
        token = "{{ consul.encrypt_key }}"
    }
{% endif %}
    enabled = true
    bootstrap_expect = {{ nomad.bootstrap_expect }}
}
