log_level = "{{ nomad.log_level | default('INFO') }}"
datacenter = "{{ nomad_datacenter | default('dc-1') }}"
data_dir = "{{ nomad_datadir | default('/var/nomad/data') }}"
bind_addr = "{{ inventory_hostname }}"
name = "{{ inventory_hostname }}"
server {
{% if consul_encrypt_key%}
    consul {
        token = "{{ consul_encrypt_key }}"
    }
{% endif %}
    enabled = true
    bootstrap_expect = {{ nomad.bootstrap_expect }}
}
